@import "variables/global";
@import "fonts";
@import "themes/light";
@import "themes/dark";

.app {
  font: var(--font-m);
  color: var(--inverted-bg-color);
  background: var(--bg-color);
  min-height: 100vh;
  letter-spacing: 0.03em;
}

a {
  color: inherit;
}

.container {
  width: 86%;
  max-width: 1120px;
  margin: 0 auto;
}