.label {
  position: relative;
  padding-left: 2px;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--neutral-color-5);
}

.select {
  position: relative;
  width: 100%;
  line-height: 24px;
}

.btn {
  position: relative;
  padding: 8px 56px 8px 16px;
  white-space: nowrap;
  line-height: 22px;
  box-sizing: border-box;
  border: 0;
  border-radius: 34px;
  background-color: var(--light-bg-redesigned);
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 16px;
  width: 10px;
  height: 10px;
  object-fit: contain;
  fill: var(--hint-redesigned);
}

.options {
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0 3px 10px rgba(#1037a3, 0.3);
}

.option {
  padding: 5px 16px;
  white-space: nowrap;
  outline: none;

  &:first-of-type {
    padding-top: 13px;
  }

  &:last-of-type {
    padding-bottom: 13px;
  }

  &_active {
    background: var(--light-bg-redesigned);
    cursor: pointer;
  }

  &_selected {
    background: var(--light-bg-redesigned);
  }

  &_disabled {
    opacity: 0.2;
  }
}
