.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 40px;
  padding-right: 48px;
}

.input {
  margin-bottom: 32px;
}

.loginBtn {
  width: 100%;
}

.error {
  margin-bottom: 32px;
}

.redesigned {
  &_input {
    width: 100%;
    margin-bottom: 16px;
  }
}
