@import "./src/app/styles/helpers/helpers";

:root {
  --font-family-main: "Uni Neue", system-ui, -apple-system, segoe ui, roboto, ubuntu, cantarell, noto sans, sans-serif;
  --font-family-secondary:
    "Montserrat",
    system-ui,
    -apple-system,
    segoe ui,
    roboto,
    ubuntu,
    cantarell,
    noto sans,
    sans-serif;
  --font-size-s: 14px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --navbar-height: 80px;
  --bg-color: #fcfcfd;
  --bg-color-rgb: #{hex-to-rgb(#fcfcfd)};
  --inverted-bg-color: #141416;
  --inverted-bg-color-rgb: #{hex-to-rgb(#141416)};
  --primary-color: #3772ff;
  --primary-color-rgb: #{hex-to-rgb(#3772ff)};
  --primary-color-font: #fcfcfd;
  --primary-color-hover: #2955bf;
  --secondary-color: #777e90;
  --devider-color: #e6e8ec;
  --neutral-color-2: #23262f;
  --neutral-color-2-rgb: #{hex-to-rgb(#23262f)};
  --neutral-color-4: #353945;
  --neutral-color-5: #b1b5c3;
  --error-color: #ef466f;
  --error-color-rgb: #{hex-to-rgb(#ef466f)};

  // z-indexes
  --modal-z-index: 10;
}
