:root {
  --font-family-main: "Uni Neue", system-ui, -apple-system, segoe ui, roboto, ubuntu, cantarell, noto sans, sans-serif;
  --font-size-s: 14px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --navbar-height: 80px;
  --bg-color: #fcfcfd;
  --inverted-bg-color: #141416;
  --primary-color: #3772ff;
  --primary-color-font: #fcfcfd;
  --primary-color-hover: #2955bf;
  --secondary-color: #777e90;
  --devider-color: #e6e8ec;
}
