.flex {
  display: flex;
  box-sizing: border-box;
}

.justify {
  &_start {
    justify-content: flex-start;
  }

  &_end {
    justify-content: flex-end;
  }

  &_center {
    justify-content: center;
  }

  &_between {
    justify-content: space-between;
  }

  &_around {
    justify-content: space-around;
  }

  &_evenly {
    justify-content: space-evenly;
  }
}

.align {
  &_start {
    align-items: flex-start;
  }

  &_end {
    align-items: flex-end;
  }

  &_center {
    align-items: center;
  }

  &_stretch {
    align-items: stretch;
  }
}

.direction {
  &_row {
    flex-direction: row;
  }

  &_col {
    flex-direction: column;
  }
}

.gap {
  &_none {
    gap: 0;
  }

  &_8 {
    gap: 8px;
  }

  &_16 {
    gap: 16px;
  }

  &_24 {
    gap: 24px;
  }

  &_32 {
    gap: 32px;
  }

  &_40 {
    gap: 40px;
  }
}

.fullWidth {
  width: 100%;
}
