.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content {
  padding: 32px;
  width: 448px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: transform 0.3s ease-in;
  transform: scale(0.5);
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.isClosing {
  opacity: 0;
  transition: opacity 0.3s ease-in;

  .content {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.4s ease-out;
  }
}

:global(.app.light),
.modal:global(.light) {
  .overlay {
    background: rgba(var(--inverted-bg-color-rgb), 0.9);
  }

  .content {
    color: var(--inverted-bg-color);
    background: var(--bg-color);
  }
}

:global(.app.dark),
.modal:global(.dark) {
  .overlay {
    background: rgba(var(--neutral-color-2-rgb), 0.9);
  }

  .content {
    color: var(--bg-color);
    background: var(--inverted-bg-color);
  }
}
