.outer {
  font-family: var(--font-family-main-redesigned);
  letter-spacing: 0;
}

.size {
  &_xs {
    font-size: 12px;
    line-height: 20px;
  }

  &_s {
    font-size: 14px;
    line-height: 24px;
  }

  &_m {
    font-size: 16px;
    line-height: 24px;
  }

  &_l {
    font-size: 24px;
    line-height: 32px;
  }
}

.bold {
  font-weight: bold;
}

.margin {
  &_none {
    margin: 0;
  }

  &_all {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &_top_only {
    margin-top: 1em;
  }

  &_bottom_only {
    margin-bottom: 1em;
  }
}
