.button {
  all: unset;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &:not(.clear) {
    padding: 12px 16px;
    background: var(--primary-color);
    border-radius: 90px;
    color: var(--primary-color-font);

    &:hover {
      background: var(--primary-color-hover);
    }
  }
}

.clear {
  
}
