.heading {
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: var(--font-family-secondary-redesigned);
}

.bold {
  font-weight: bold;
}

.size {
  &_xs {
    font-size: 17px;
    line-height: 20px;
  }

  &_s {
    font-size: 24px;
    line-height: 28px;
  }

  &_m {
    font-size: 32px;
    line-height: 38px;
  }
}

.position {
  &_center {
    text-align: center;
  }
}
