.sidebar {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: var(--navbar-height) 0 0;
  box-sizing: border-box;
  border-right: 1px solid var(--devider-color);
  color: var(--bg-color);
  background: var(--inverted-bg-color);
  transition: transform 0.3s, margin-right 0.3s, width 0.3s;
}

.collapsed {
  width: 64px;
}

.actions {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .collapsed & {
    flex-direction: column;
  }
}

.themeSwitcher {
  margin-right: 8px;

  .collapsed & {
    margin-right: 0;
  }

  svg {
    fill: var(--bg-color);
  }
}

.menu {
  display: flex;
  flex-direction: column;

  .collapsed & {
    align-items: center;
  }
}
