.link {
  display: flex;
  align-items: center;
  padding: 12px;

  &:hover {
    background: var(--primary-color);
    text-decoration: none;
  }
}

.collapsed {
  width: 100%;
  flex-direction: column;
  padding: 8px 0;
}

.linkIcon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  object-fit: contain;
  fill: var(--bg-color);

  &_home {
    top: -2px;
  }

  .collapsed & {
    margin-right: 0;
    top: 0;
  }

  .link:hover & {
    fill: var(--primary-color-font);
  }
}

.linkTitle {
  font-weight: bold;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  white-space: nowrap;
  color: var(--bg-color);

  .collapsed & {
    font-size: 8px;
  }

  .link:hover & {
    color: var(--primary-color-font);
  }
}
