.link {
  padding: 12px;

  &_collapsed {
    padding: 8px 0;
  }

  &:hover {
    background: var(--primary-color);
    text-decoration: none;
  }
}

.linkIcon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 14px;
  object-fit: contain;
  fill: var(--bg-color);

  &_home {
    top: -2px;
  }

  .link_collapsed & {
    margin-right: 0;
    top: 0;
  }

  .link:hover & {
    fill: var(--primary-color-font);
  }
}

.linkTitle {
  font-weight: bold;
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  white-space: nowrap;
  color: var(--bg-color);

  .link_collapsed & {
    font-size: 8px;
  }

  .link:hover & {
    color: var(--primary-color-font);
  }
}

.linkRedesigned {
  position: relative;
  padding: 6px 16px;

  &Active {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: var(--accent-redesigned);
    }
  }

  &:hover {
    text-decoration: none;
    background:
      linear-gradient(
        to right,
        rgba(var(--accent-redesigned-rgb), 0.3),
        rgba(var(--accent-redesigned-rgb), 0)
      );
  }
}

.linkTitleRedesigned {
  font-size: 16px;
  line-height: 20px;
  margin-left: 14px;
  white-space: nowrap;

  .link_collapsed & {
    display: none;
  }
}

.linkIconRedesigned {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: contain;
  fill: var(--icon-redesigned);
}
