.outer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 64px 3.57%;
  padding-bottom: 16px;

  &_list {
    gap: 72px 0;
  }
}

.informer {
  padding-bottom: 0;
}

.redesigned {
  &_outer {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &_list {
      gap: 16px 0;
    }

    &_grid {
      gap: 16px;
    }
  }
}
