.outer {
  position: relative;
  width: calc(100% + 40px);
  display: flex;
  flex-wrap: wrap;
  gap: 64px 40px;
  padding-bottom: 16px;

  &_list {
    gap: 72px 0;
  }
}

.informer {
  padding-bottom: 0;
}
