.outer {
  margin: 0;
}

.title {
  margin-top: 0.5em;
  padding-left: 1em;
  font-style: italic;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0;
  font-family: var(--font-family-secondary);
}
