.overlay,
.overlayRedesigned {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  :global(.app_theme_light) & {
    background: rgba(var(--inverted-bg-color-rgb), 0.9);
  }

  :global(.app_theme_dark) & {
    background: rgba(var(--neutral-color-2-rgb), 0.9);
  }

  :global(.app_theme_colored) & {
    background: rgba(var(--neutral-color-2-rgb), 0.9);
  }
}

.overlayRedesigned {
  background: rgba(var(--light-bg-redesigned-rgb), 0.9);
}
