@import "./src/app/styles/helpers/helpers";

.app_theme_colored {
  --bg-color: #3772ff;
  --bg-color-rgb: #{hex-to-rgb(#3772ff)};
  --inverted-bg-color: #fcfcfd;
  --inverted-bg-color-rgb: #{hex-to-rgb(#fcfcfd)};
  --secondary-color: #729bfc;
  --devider-color: #c2cbe7;
  --neutral-color-2: #fcfcfd;
  --neutral-color-2-rgb: #{hex-to-rgb(#fcfcfd)};
  --primary-color: #fcfcfd;
  --primary-color-rgb: #{hex-to-rgb(#fcfcfd)};
  --primary-color-font: #141416;
  --primary-color-hover: #e0ebff;
  --neutral-color-5: #d4d8e8;
  --error-color: #f61344;
  --error-color-rgb: #{hex-to-rgb(#f61344)};
  --sidebar-bg: #141416;

  // redesigned
  --dark-bg-redesigned: #fff3d6;
  --bg-redesigned: #f0c048;
  --light-bg-redesigned: #{$light-bg-redesigned-color};
  --text-redesigned: #1b1311;
  --hint-redesigned: #b8b2a2;
  --cancel-redesigned: #ff5e5e;
  --cancel-redesigned-rgb: #{hex-to-rgb(#ff5e5e)};
  --save-redesigned: #52fa81;
  --save-redesigned-rgb: #{hex-to-rgb(#52fa81)};
  --icon-redesigned: #4875f0;
  --icon-redesigned-rgb: #{hex-to-rgb(#4875f0)};
  --accent-redesigned: #1d59ff;
  --accent-redesigned-rgb: #{hex-to-rgb(#1d59ff)};

  // skeleton
  --skeleton-bg: #eaedf5;
  --skeleton-bg-rgb: #{hex-to-rgb(#a9abb0)};
  --skeleton-effect: #c0d2fd;
  --skeleton-effect-rgb: #{hex-to-rgb(#c0d2fd)};
}
