.app.dark {
  --bg-color: #141416;
  --inverted-bg-color: #FCFCFD;
  --primary-color: #3772FF;
  --primary-color-hover: #2955BF;
  --primary-color-font: #FCFCFD;
  --secondary-color: #777E90;
  --devider-color: #353945;
}
