@import "./src/app/styles/helpers/helpers";

.app_theme_dark {
  --bg-color: #141416;
  --bg-color-rgb: #{hex-to-rgb(#141416)};
  --inverted-bg-color: #fcfcfd;
  --inverted-bg-color-rgb: #{hex-to-rgb(#fcfcfd)};
  --secondary-color: #777e90;
  --devider-color: #353945;
  --neutral-color-2: #fcfcfd;
  --sidebar-bg: var(--inverted-bg-color);

  // skeleton
  --skeleton-bg: #242426;
  --skeleton-bg-rgb: #{hex-to-rgb(#242426)};
  --skeleton-effect: #343434;
  --skeleton-effect-rgb: #{hex-to-rgb(#343434)};
}
