@import "./src/app/styles/helpers/helpers";

.app_theme_light {
  --bg-color: #fcfcfd;
  --bg-color-rgb: #{hex-to-rgb(#fcfcfd)};
  --inverted-bg-color: #141416;
  --inverted-bg-color-rgb: #{hex-to-rgb(#141416)};
  --secondary-color: #777e90;
  --devider-color: #e6e8ec;
  --devider-color-rgb: #{hex-to-rgb(#e6e8ec)};
  --sidebar-bg: var(--inverted-bg-color);

  // redesigned

  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #{$light-bg-redesigned-light};
  --light-bg-redesigned-rgb: #{hex-to-rgb(#e2eef1)};
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --cancel-redesigned-rgb: #{hex-to-rgb(#f77)};
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --icon-redesigned-rgb: #{hex-to-rgb(#5ed3f3)};
  --accent-redesigned: #00c8ff;
  --accent-redesigned-rgb: #{hex-to-rgb(#00c8ff)};

  // skeleton
  --skeleton-bg: #eaedf5;
  --skeleton-bg-rgb: #{hex-to-rgb(#eaedf5)};
  --skeleton-effect: #fcfcfd;
  --skeleton-effect-rgb: #{hex-to-rgb(#fcfcfd)};
}
