.app.light {
  --bg-color: #fcfcfd;
  --inverted-bg-color: #141416;
  --primary-color: #3772ff;
  --primary-color-font: #fcfcfd;
  --primary-color-hover: #2955bf;
  --secondary-color: #777e90;
  --devider-color: #e6e8ec;
}
