.app.light {
  --bg-color: #FCFCFD;
  --inverted-bg-color: #23262F;
  --primary-color: #3772FF;
  --primary-color-font: #FCFCFD;
  --primary-color-hover: #2955BF;
  --secondary-color: #777E90;
  --devider-color: #E6E8EC;
}
