.trigger {
  position: relative;
  width: 40px;
  height: 40px;
}

.trigger_icon {
  position: relative;
  top: -3px;
  width: 24px;
  height: 24px;
  fill: var(--secondary-color);
  transition: fill 0.25s ease-in-out;

  .notes_trigger:hover & {
    fill: var(--inverted-bg-color);
  }
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  font-size: 0;
  border-radius: 50%;

  &_primary {
    background: var(--primary-color);
  }

  &_new {
    background: var(--success-color);
  }
}

.list {
  width: 344px;
}
