.btn {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.items {
  width: 100%;
  min-width: 256px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.item {
  all: unset;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 16px 0;
  line-height: 16px;
  align-items: center;
  color: var(--text-redesigned);
  border-bottom: 1px solid var(--light-bg-redesigned);
  cursor: pointer;

  &_last {
    border-bottom: none;
  }

  &_disabled {
    opacity: 0.3;
    cursor: auto;
  }

  &_active {
    color: var(--accent-redesigned);
  }
}

.link {
  white-space: nowrap;
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  fill: var(--icon-redesigned);

  .item_active & {
    fill: var(--accent-redesigned);
  }
}
