.outer {
  width: 100%;
  display: grid;
  grid-template-areas: "left middle right";
  grid-template-columns: auto 1fr auto;
  box-sizing: border-box;
}

.left,
.right,
.middle {
  box-sizing: border-box;
}

.left,
.right {
  position: sticky;
  top: 0;
  height: 100vh;
}

.left {
  grid-area: left;
  max-width: 284px;
  padding: 32px;
  box-sizing: border-box;
}

.middle {
  grid-area: middle;
  width: 100%;
  max-width: 1324px;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-self: center;
}

.right {
  grid-area: right;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 32px;
  padding-left: 32px;
  max-width: 252px;
}

.header {
  flex-shrink: 0;
  padding-right: 32px;
}

.toolbar {
  flex-grow: 1;
}
