.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opened {
  z-index: var(--modal-z-index);
  opacity: 1;
  pointer-events: auto;
}

.isClosing {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.content {
  position: relative;
  z-index: 1;
  padding: 32px;
  width: 448px;
  box-sizing: border-box;
  border-radius: 20px;
  background: var(--bg-color);
  transition: transform 0.3s ease-in;
  transform: scale(0.5);

  :global(.app_theme_light) & {
    color: var(--inverted-bg-color);
  }

  :global(.app_theme_dark) & {
    color: var(--bg-color);
  }

  .opened & {
    transform: scale(1);
  }

  .isClosing & {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.4s ease-out;
  }
}

.title {
  margin-bottom: 32px;
  padding-right: 48px;
}

.subtitle {
  margin-bottom: 32px;
  padding-right: 48px;
  color: var(--secondary-color);
}

.redesigned {
  &_content {
    position: relative;
    z-index: 1;
    width: 448px;
    box-sizing: border-box;
    background: var(--dark-bg-redesigned);
    transition: transform 0.3s ease-in;
    transform: scale(0.5);

    .opened & {
      transform: scale(1);
    }

    .isClosing & {
      transform: scale(0.5);
      opacity: 0;
      transition: opacity 0.2s ease-out, transform 0.4s ease-out;
    }
  }
}
