@import "../../../app/styles/helpers/helpers";

.navbar {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--devider-color);
}

.container {
  height: var(--navbar-height);

  @include container(l);
}
