@import "../../../app/styles/helpers/helpers";

.navbar {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--devider-color);
}

.container {
  height: var(--navbar-height);

  @include container(l);
}

// redesigned

.navbarRedesigned {
  gap: 10px;
}

.iconButton {
  padding: 6px;
}

.addPostIcon {
  fill: var(--icon-redesigned);
}

.user {
  margin-left: 6px;
}
