.navbar {
  flex: 0 0 auto;
  border-bottom: 1px solid var(--devider-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: var(--navbar-height);
}
