@import "../../../../app/styles/helpers/helpers";

.outer {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 40px;
  border-bottom: 1px solid var(--devider-color);
}

.container {
  @include container(l);
}
