@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

@mixin scrollbar($color: var(--primary-color)) {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color; /* цвет плашки */
    border-radius: 2px; /* закругления плашки */
    border: 1px solid $color; /* padding вокруг плашки */
  }
}

@mixin scrollbar-redesigned($color: var(--light-bg-redesigned)) {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--icon-redesigned); /* цвет плашки */
    border-radius: 38px; /* закругления плашки */
    border: 0; /* padding вокруг плашки */
  }
}

@mixin container($size: m) {
  width: calc(100% - 56px);
  margin: 0 auto;

  @if $size == m {
    max-width: 1120px;
  } @else if $size == l {
    max-width: 1370px;
  }
}

@mixin loki() {
  :global(*[loki-test]) & {
    @content;
  }
}
