.avatar {
  margin-bottom: 32px;
}

.fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input {
  width: calc(50% - 12px);
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}
