.outer {
  padding: 24px;
}

.modalTitle {
  margin: 0;
  padding-right: 48px;
}

.modalSubTitle {
  margin: 0;
  padding-right: 48px;
  color: var(--secondary-color);
}

.redesigned {
  &_feedback_button {
    flex-grow: 1;
  }
}
