.switcher {
  border: 0;
  padding: 8px;
  margin: 0;
  font-size: 0;
  line-height: 1em;
  background: none;
  cursor: pointer;
}

.inverted {
  fill: var(--bg-color) !important;
}

.icon {
  width: 24px;
  height: 24px;
}
