.link {
  text-decoration: none;
  transition: background-color 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, fill 0.1s ease;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.primary,
.secondary {
  &:hover {
    text-decoration: underline;
  }
}

.clear {
  color: inherit;
}
