.outer {
  padding: 16px 16px 18px;
  background: rgba(var(--inverted-bg-color-rgb), 0.02);
  border-radius: 12px;
  border: 1px solid rgba(var(--devider-color-rgb), 0.4);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.avatar {
  margin-right: 16px !important;
}

.skeleton {
  background: rgba(var(--skeleton-bg-rgb), 0.3);
}
