@import "../../app/styles/helpers/helpers";

.outer {
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  @include scrollbar;
}

.header {
  padding: 24px 40px;
  border-bottom: 1px solid var(--devider-color);
}

.content {
  padding: 40px;
}
