@import "../../app/styles/helpers/helpers";

.outer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;

  @include scrollbar;
}

.outerRedesigned {
  overflow-y: auto;
  overflow-x: hidden;
}
