@import "../../../../app/styles/helpers/helpers";

.outer {
  transition: 0.3s ease-out;
}

.title {
  padding-left: 16px;
  margin-bottom: 0.3em;
}

.list {
  width: calc(100% - 4px);
  max-height: 440px;
  overflow-y: auto;

  @include scrollbar;

  &_withScroll {
    width: 100%;
  }
}

.more {
  width: 100%;
  margin-top: 20px;
}

.empty {
  padding-left: 16px;
}

// redesigned

.listRedesigned {
  width: 100%;
  padding-right: 16px;
  box-sizing: border-box;
  max-height: 370px;
  overflow-y: auto;

  @include scrollbar-redesigned;
}
